.form_input {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form_input label {
    font-size: large;
    color: white;
    padding: 10px;
}

.form_input input {
    font-size: large;
    padding: 10px;
}

.form_input button {
    margin: 10px;
    cursor: pointer;
}